.oval { 
    height: 25vh;
    width: 25vw;
    border-radius: 50%;
}

.rect {
    width : inherit;
}

.startPlayingContainer:hover {
    background-color: var(--container1ColorBright2);
}


/* Description Styling */

.descriptionMain {
    width : 100%;
    background-color : var(--container2Color);
    color : var(--textColor2);

    --vertical-padding : 5vh;
    padding-top : var(--vertical-padding);
    padding-bottom : var(--vertical-padding);
}

.descriptionContent {

    padding-bottom : 5vh;

    /* background-color: black; */
    display : grid;
    grid-template-columns: 40% 40%;
    justify-content : space-around;
    row-gap: 10vh;
    align-items: center;

    font-size : 1.75em;

}

img {
    width : 100%;
}

.description-item{
    width : 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


